html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    height: 100%;
}

body {
    background-image: url('../images/light-grey-terrazzo.png');
    height: 100%;
}

.header-div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: rgba(227, 248, 247, 0.9);
    border-bottom: 2px #cccccc solid; 
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100%;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2rem;
    font-weight: bold;
    color: #4aaaa5;
}

p {
    display: inline;
}

span {
    color: #dddddd;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0 12px;
}

.frame {
    width: 960px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#my-name {
    background-color: #4aaaa5;
    color: white;
    padding: 1.8rem;
}

.main-div {
    padding: 2rem 0.5rem;
    margin-top: 6rem;
    min-height: 100%;
    margin-bottom: 50px;
}

.main-div-content {
    background-color: #ffffff;
    border: #dddddd 1px solid;
    padding: 30px;
    clear: both;
    line-height: 2;
}

.main-div-paragraphs {
    margin-top: -0.6rem;
}

hr {
    margin: 1rem 0 2rem 0;
    border: #dddddd 1.5px solid;    
}

#img-me {
    float: left;
    margin: 0 20px 20px 0;
    height: 210px;
    border: rgb(74, 170, 165) 1px solid;
    border-radius: 105px;
    box-shadow: 0 0 30px rgba(74, 170, 165, 0.9)
    ;
}

footer {
    background-color: #666666;
    border-top: #B23E 5px solid;
    height: 50px;
    justify-content: flex-end;
    color: #dddddd;
    padding: 10px;
    font-size: 0.8rem;
}

i {
    margin-bottom: 0.5rem;
}

input {
    height: 1.5rem;
}

#form-message {
    width: 100%;
}

button {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1.5rem;
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
}

h2 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 300px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-box {
    display: flex;
    margin: 1rem 1rem;
    width: 300px;
    height: 200px;
    align-items: flex-end;
    border-radius: 10px;
}

.project-name {
    margin-bottom: 0.6rem;
    opacity: 0.9;
}

.image-props {
    opacity: 0.7;
    background-repeat: no-repeat;
}

#project1 {
    background-image: url('../images/project1.jpg');
}

#project2 {
    background-image: url('../images/project2.jpg');
}

#project3 {
    background-image: url('../images/project3.jpg');
}

#project4 {
    background-image: url('../images/project4.jpg');
}

#project5 {
    background-image: url('../images/project5.jpg');
}

.required {
    color: red;
}


/*      Pseudo classes styling      */


button:hover {
    background-color: #1d6461;
}

nav a:hover {
    color: #B23E;
    background-color: rgba(253, 219, 222, 0.933);
    border-radius: 5px;
    padding: 12px;
}

footer a:hover {
    color: #ffffff;
}

.project-box:hover {
    /* opacity: 0.9; */
    box-shadow: 3px 3px 10px #000000;
    transform: rotate(-1deg);
    transition-duration: 300ms;
    opacity: 1;
}

#my-name:hover {
    background-image: url('../images/name-bg2.jpg');
    color: #000000;
    opacity: 0.7;
    transition-duration: 000ms;
}

input:focus, textarea:focus {
    background-color: rgb(253, 253, 227);
}
